.menu-section {
  padding: var(--padding-section);
  background-color: var(--bg-white);
}

.menu-grid {
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(280px, 1fr)
  ); /* Responsif otomatis */
  gap: 2rem;
}

.menu-card {
  background: white;
  border-radius: var(--border-radius);
  padding: 1rem;
  box-shadow: var(--shadow);
  transition: transform 0.3s;
  text-align: center;
}

.menu-card:hover {
  transform: translateY(-5px);
}

.menu-img-wrapper {
  position: relative;
  margin-bottom: 1rem;
}

.menu-img-wrapper img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: var(--border-radius);
}

.price-tag {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: var(--colony-orange);
  color: white;
  padding: 5px 10px;
  border-radius: 10px;
  font-weight: bold;
}

.menu-card h3 {
  margin-bottom: 0.5rem;
  color: var(--colony-brown);
}
